.main-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
@import '../sass/import_sass/fonts';
@import '../sass/import_sass/header';
@import '../sass/import_sass/sandwich';
@import '../sass/import_sass/slider';
@import '../sass/import_sass/contact-footer';
@import '../sass/import_sass/template';