.header {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 0 5px;
}
.nav-wrapper {
    height: 68px;
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo {
    font-family: 'BEYNO', sans-serif;
    &--title {
        text-decoration: none;
        display: block;
        color: #503392;
        font-size: 30px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-weight: normal;
        b {
            color: #009dda;
            font-weight: bold;
        }
    }
}
.nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 615px;
    width: 100%;
    font-family: 'Lato-Regular', sans-serif;
    &__main {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
        max-width: 390px;
        width: 100%;
    }
    &__search {
        position: relative;
        max-width: 180px;
        height: 31px;
        input {
            font-family: 'Lato-Regular', sans-serif;
            color: #503392;
            height: 100%;
            background-color: rgba(141, 120, 183, .2);
            border: none;
            outline: none;
            padding: 0 5px;
        }
    }
}
.icon-class::after {
    content: '\f002';
    top: 0;
    right: 20px;
    position: absolute;
    font-size: 16px;
    line-height: 31px;
    font-family: 'Font Awesome 5 Brands', 'Font Awesome 5 Free';
    font-weight: 900;
    cursor: pointer;
    color: #5c5c5c;
}
.item-first {
    position: relative;
    a {
        color: #232323;
        text-decoration: none;
        padding: 26px 0 26px 0;
        line-height: 16px;
        font-size: 16px;
        font-weight: 400;
        &:hover {
            font-weight: 700;
            transition-delay: 0.2s;
        }
    }
}
a.active {
    font-weight: 700;
    transition-delay: 0.2s;
}
.item-first:hover > ul {
    display: block;
}
.nav__menu__second {
    position: absolute;
    display: none;
    top: 43px;
    padding: 5px 0;
    list-style: none;
    min-width: 150px;
    background-color: rgba(0, 0, 0, .65);
    border-top: 2px solid #fff200;
    font-family: 'Lato-Regular', sans-serif;
}
.item-second {
    position: relative;
    font-family: 'Lato-Regular', sans-serif;
    a {
        padding: 16px 32px 16px 18px;
        display: block;
        color: #fdfdfd;
        &:hover {
            color: #fff200;
            transition-delay: 0.2s;
            font-weight: 400;
            &::before {
                content: '\f101';
                font-size: 16px;
                font-family: 'Font Awesome 5 Brands', 'Font Awesome 5 Free';
                font-weight: 900;
                color: #fff200;
                margin-right: 5px;
            }
        }
        &::before {
            content: '\f105';
            font-size: 16px;
            font-family: 'Font Awesome 5 Brands', 'Font Awesome 5 Free';
            font-weight: 900;
            color: #fdfdfd;
            margin-right: 5px;
        }
    }
}
.nav__menu__third {
    position: absolute;
    display: none;
    left: 100%;
    top: -7px;
    padding: 5px 0;
    list-style: none;
    min-width: 200px;
    background-color: rgba(0, 0, 0, .65);
    border-top: 2px solid #fff200;
    transition-delay: 0.2s;
    font-family: 'Lato-Regular', sans-serif;
}
.item-second:hover > ul {
    display: block;
}
.header__menu__btn {
    position: relative;
    height: 16px;
    width: 23px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline:none;
    display: none;
}
/* Header modile */

@media (max-width: 1024px) {
    .header__menu__btn {
        display: block;
        cursor: pointer;
    }
    .nav__menu__search {
        display: none;
    }
    .nav__menu, .nav__menu__main {
        flex-direction: column;
    }
    .nav__menu {
        position: relative;
        max-width: 100%;
    }
    .nav__menu__main {
        position: absolute;
        display: none;
        right: 7.5%;
        top: 34px;
        max-width: 100%;

    }
    .item-first {
        text-align: center;
        position: unset;
        a {
            display: block;
            color: #fdfdfd;
            border-bottom: 1px solid yellow;
            background-color: rgba(0, 0, 0, .7);
            &:hover {
                background-color: rgba(0, 0, 0, .85);
            }
        }
    }
    .item-second, .nav__menu__third, .nav__menu__second {
        position: unset;
        border-top: none;
    }
}